@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);

/******************** body **********/
/*******************************************/
.general {
	margin-left: 20px;
	margin-right: 20px;
}

/**********************    Errors   ****************************************************/
/****************************************************************************************/
.errorTipus1 {
	font-size: 16px;
	color: red;
	display: inline-block;
	background-color: #ff0080;
	padding: 10px;
}

/****************************************************************************************/
/*************************    Text   ****************************************************/
.textTitle{
	
	font-size: 16px;
	color: #d6293a;
	
	
}

.txt14Gris {
	
	font-size: 14px;
	color: #525e69;

}

.txtReadOnly{
	
	border-bottom: solid gray !important;
    color: #aaaaaa !important;
    background-color: #ebebeb!important;
    border-bottom-width: 1px !important;
	
}

.txtInputTp1{
	
	border-bottom: solid gray !important;
    color: #aaaaaa !important;
    background-color: #f6f7fd !important;
    border-bottom-width: 1px !important;
}

.txtRequired {
	font-size: 14px;
	color: red;
	
}

.txtInformation {
	
	font-size: 14px;
	color: #330099;	

}

/******************** Caixes **********/
/*******************************************/
.caixaTipus1 {
	background: #f5f5f5;
	margin-top: 5px;
}

.caixaDreta {
	
	text-align: right;
	
}

.caixaFlex {
	
	display: flex;
}

.caixaPadding10{
	
	position: relative;
	padding: 10px;
}

.fixed {
 
 	position: absolute;
    top: 15px;
    right: 40px;
    width: 100px;

}

.caixaMenuTp1{
	
	position: absolute;
	font-size: 0.9em;
	right: 30px;
}

.caixaViewTp1{
	
	padding: 20px;
	
}

/**********************    Botons   ****************************************************/
/****************************************************************************************/
.btm4 {
	
	text-align: right;
}

/**********************    Menu   ****************************************************/
/****************************************************************************************/

/**********************    JSF components   ****************************************************/
/****************************************************************************************/
.panelGridTp1{
	
	 padding-top: 25px;
}
   

.panelGroupTp1{
	
	background-color: #ffffff;
	
}

/**********************    PrimeFaces   ****************************************************/
/****************************************************************************************/
/** menu */
.ui-widget{
	border: none;
    background: none;
}
